[submodule "vendor/paho"]
	path = vendor/paho
	url = git://git.eclipse.org/gitroot/paho/org.eclipse.paho.mqtt.embedded-c.git
[submodule "vendor/frozen"]
	path = vendor/frozen
	url = https://github.com/cesanta/frozen
