[submodule "thirdparty/paho"]
	path = thirdparty/paho
	url = git://git.eclipse.org/gitroot/paho/org.eclipse.paho.mqtt.embedded-c.git
[submodule "thirdparty/frozen"]
	path = thirdparty/frozen
	url = https://github.com/cesanta/frozen
